@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

/* Colors */
:root {
  --blue-intro: hsl(217, 28%, 15%); /*intro and email sign up background */
  --blue-back: hsl(218, 28%, 13%); /*main background */
  --blue-footer: hsl(216, 53%, 9%); /*footer*/
  --blue-testimonials: hsl(219, 40%, 20%); /*testimonials*/
  --cyan: hsl(176, 68%, 64%); /*inside call-to-action */
  --blue: hsl(198, 60%, 50%); /*inside call-to-action */
  --light-red: hsl(0, 100%, 63%); /*error*/
  --white: hsl(0, 0%, 100%);
}

/* Headings, Call-to-actions, Header Navigation Weights: 400, 700*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway", sans-serif;
  color: var(--white);
}
p {
  font-family: "Raleway", sans-serif;
}
li {
  list-style: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--blue-intro);
  /*Weights: 400, 700*/
}
nav {
  width: 85%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 130px;
  height: auto;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  width: 100px;
}
.nav-links li a {
  text-decoration: none;
  color: var(--white);
}
.nav-links li a:hover {
  text-decoration: underline;
}
.first-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.first-page-description {
  width: 600px;
  margin: auto;
  margin-bottom: 30px;
}

.illustration {
  width: 470px;
  margin-bottom: 30px;
}
.title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 30px;
}
.first-page-description p {
  width: 500px;
  line-height: 1.6rem;
  margin: 0 auto 30px;
  font-weight: 400;
  color: var(--white);
}
.button {
  width: 250px;
  padding: 14px;
  outline: none;
  border-radius: 1rem;
  background: var(--cyan);
  color: var(--white);
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.curvy {
  width: 100%;
  height: 40vh;
  position: relative;
  top: -210px;
  z-index: -10;
}
.services-page {
  width: 100%;
  margin: auto;
  background: #181f2b;
  position: relative;
  top: -210px;
  z-index: -10;
}
.services {
  width: 70%;
  min-height: 50vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.services-container {
  margin: 30px 0;
}
.icon-access {
  width: 70px;
  height: auto;
  margin-bottom: 50px;
  border: 2px solid red;
}

.services-description {
  width: 400px;
  line-height: 1.2rem;
  margin-bottom: 50px;
  color: var(--white);
}

.services-title {
  margin-bottom: 30px;
}

.about {
  width: 85%;
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-description {
  width: 550px;
}

.about-description p {
  color: var(--white);
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 20px;
}
.prodactive-img {
  width: 550px;
  height: auto;
}

.about-description a {
  text-decoration: none;
  color: var(--cyan);
  border-bottom: 1px solid var(--cyan);
}

.about-description a svg {
  fill: var(--cyan);
}
.about-description a:hover {
  color: var(--white);
  fill: var(--white);
  border-bottom: 1px solid var(--white);
}

.testimonials {
  width: 90%;
  min-height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.testimonials::after {
  content: url(/images/bg-quotes.png);
  position: absolute;
  top: 160px;
  left: -10px;
  z-index: -1;
}
.cards {
  width: 385px;
  height: 200px;
  background: var(--blue-testimonials);
  padding: 25px 15px;
  box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
  border-radius: 5px;
}
.testimonial-description {
  width: 345px;
  font-size: 14px;
  line-height: 1.2rem;
}
.testimonial-description p {
  color: var(--white);
}
.profile-container {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.profile-card-1 {
  width: 50px;
  height: 50px;
  background: url(/images/profile-1.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile-card-2 {
  width: 50px;
  height: 50px;
  background: url(/images/profile-2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.profile-card-3 {
  width: 50px;
  height: 50px;
  background: url(/images/profile-3.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

span {
  color: var(--white);
  font-size: 12px;
}

.sign-up {
  width: 60%;
  height: 35vh;
  margin: auto;
  background-color: var(--blue-testimonials);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  z-index: 1;
  position: relative;
  top: 110px;
  box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px 11px 8px -2px rgba(0, 0, 0, 0.47);
}

.sign-up-description {
  margin: auto;
  width: 60%;
}
.sign-up-title {
  margin-bottom: 25px;
}
.sign-up-description p {
  color: var(--white);
  font-size: 14px;
  line-height: 1.2rem;
}

form {
  margin-top: 10px;
  margin-bottom: 25px;
}

.email {
  width: 500px;
  padding: 12px 20px;
  border-radius: 2rem;
  border: none;
  outline: none;
  margin-right: 25px;
}
.submit-btn {
  width: 250px;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: var(--cyan);
  color: var(--white);
  cursor: pointer;
}
footer {
  width: 100%;
  height: 60vh;
  background: var(--blue-back);
  display: flex;
  flex-direction: column;
  position: relative;
}

footer .logo {
  position: relative;
  top: 180px;
  left: 90px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.location {
  width: 350px;
  display: flex;
}
.location p {
  color: var(--white);
  font-size: 14px;
}
.icon-location {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

.fa-brands {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--white);
  border-radius: 50%;
}
.fa-brands:hover {
  color: var(--cyan);
  border: 1px solid var(--cyan);
}

.contact-us-links li {
  line-height: 2rem;
}
.contact-us-links li a {
  text-decoration: none;
}

.contact-us-links li a:hover {
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  nav {
    width: 90%;
  }
  .logo {
    width: 70px;
    height: auto;
  }
  .nav-links li {
    width: 70px;
    margin-right: 5px;
  }
  .nav-links li:nth-child(2) {
    width: 50px;
  }
  .nav-links li:nth-child(3) {
    width: 50px;
  }
  .first-page {
    width: 300px;
    margin: auto;
  }
  .illustration {
    width: 350px;
  }

  .first-page-description {
    width: 300px;
    margin: auto;
  }
  .title {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .first-page-description p {
    width: 318px;
    line-height: 1.2rem;
  }
  .curvy {
    display: none;
  }
  .button {
    width: 200px;
  }
  .services {
    width: 85%;
    margin: 250px auto 0;
  }
  .services-description {
    width: 300px;
    margin: auto;
  }
  .services-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .services-description p {
    width: 200px;
    font-size: 14px;
    margin: auto;
  }
  .about {
    margin-top: -100px;
  }
  .prodactive-img {
    width: 300px;
    height: auto;
  }

  .testimonials {
    width: 90%;
    min-height: 100vh;
    margin: 100px auto 0;
  }
  .testimonials::after {
    top: -40px;
    left: 55;
  }
  .cards {
    width: 350px;
    height: 230px;
    margin-bottom: 25px;
  }
  .testimonial-description {
    width: 300px;
  }

  .sign-up {
    width: 90%;
    height: 60vh;
    margin: auto;
    position: relative;
    top: 50px;
    padding: auto;
  }
  .sign-up-description {
    width: 100%;
  }
  .sign-up-description p {
    margin-bottom: 15px;
    font-size: 0.8rem;
  }

  .sign-up-description h1 {
    font-size: 1.6rem;
  }
  .email {
    width: 100%;
    margin-bottom: 25px;
  }
  .submit-btn {
    width: 100%;
  }
}
